// 图标
// 最大化
.theone-icon-max:before {
  content: "\e61c";
}
// 关闭
.theone-icon-close:before {
  content: "\e616";
}
// 还原
.theone-icon-normal:before {
  content: "\e611";
}
// 导出
.theone-icon-export:before {
  content: "\e612";
}
// 导入
.theone-icon-import:before {
  content: "\e614";
}
// 下拉
.theone-icon-dropdown:before {
  content: "\e615";
}
// 刷新
.theone-icon-refresh:before {
  content: "\e618";
}
// 增加
.theone-icon-add:before {
  content: "\e619";
}
// 修改，编辑
.theone-icon-update:before {
  content: "\e61a";
}
// 下一页
.theone-icon-nextpage:before {
  content: "\e61b";
}
// 预览
.theone-icon-preview:before {
  content: "\e61d";
}
// 下载
.theone-icon-download:before {
  content: "\e61e";
}
// 删除
.theone-icon-delete:before {
  content: "\e61f";
}
// 全屏
.icon-quanping:before {
  content: "\e613";
}
// 恢复全屏
.icon-huifuquanping:before {
  content: "\e617";
}
// 上一页
.icon-zuofanye:before {
  content: "\e620";
}
.icon-tupianyulanzuohua:before {
  content: "\e621";
}
.icon-tupianyulanyouhuasvg:before {
  content: "\e622";
}
.icon-xialahuifu:before {
  content: "\e623";
}
// 展开
.icon-zhankai:before {
  content: "\e624";
}
// 收起
.icon-shouqi:before {
  content: "\e625";
}
//叹号 收起
.icon-tanhao_shouqi:before {
  content: "\e627";
}
// 问好
.icon-wenhao:before {
  content: "\e628";
}
.icon-tanhao:before {
  content: "\e629";
}
.icon-yincang:before {
  content: "\e626";
}
.icon-guzhang:before {
  content: "\e63e";
}
.icon-yanchi:before {
  content: "\e63f";
}
// 正常
.icon-zhengchang:before {
  content: "\e640";
}
// 缺失
.icon-queshi:before {
  content: "\e641";
}
// 减号
.icon-jianhao:before {
  content: "\e642";
}
// 加号
.icon-jiahao:before {
  content: "\e643";
}
// 属性
.icon-shuxing:before {
  content: "\e644";
}
// 属性表
.icon-shuxingbiao:before {
  content: "\e645";
}
